.basketcontainer {
    position: relative;
  }
  
  .ellipseholder,
  .basket2,
  .ellipse {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .ellipseholder {
    text-align: center;
    height: 0px;
    margin-top: -7px;
    margin-left: 20px;
    z-index: 1; 
  }
  
  .basket2 {
    z-index: 0; 
  }

  .basketcounter {
    display: flex;
    width: 30px;
    justify-content: center;
    position: absolute;
    color: white;
    /* height: 0px; */
    margin-top: -10.5px;
    margin-left: -6px;
    z-index: 1; 
  }

  .basketcounter-p {
    font-size: 12px;
  }

  .ellipse {
    z-index: 0; 
  }

  @media (max-width: 430px) {

    .basketcontainer {
    display: none;
}

  }