.div_discount {
    height: 341px;
    width: 100vw;
    display: flex;
    background-color: #222224;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
}

.div_discount__holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Центрирование по вертикали */
    background-color: #222224;
    justify-content: center;
    max-width: 360px;
    max-height: 134px;

}

.delivery_text {
    color: white;
    font-weight: normal;
}

.delivery_text__p {
    color: #FBFBFB;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 768px) {
.div_discount {
    position: relative;
    height: 610px;
    display: flex;
    width: 100vw;
    gap: 48px;
    flex-direction: column;
    background-color: #222224;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
}
}