.index_pinkbg {
    position: static !important;
    /* width: 100vw; */
    display: flex;
    background-color: #F1E4E6;
    justify-content: center;

}

.index_div_header {
    width: 100vw;
    display: flex;
    background-color: #F1E4E6;
    justify-content: center;
}

.index_header_sp1 {
    margin: 0;
    margin-left: 10px;
    /* font-family: Lato; */
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    padding: 0;

}

.index_header_p__nomargin {
    margin-bottom: 0;
    margin-top: 0px;
}

.index_header_sp2 {
    padding: 0;
    margin-top: 0px;
    margin-left: 10px;
    /* font-family: Lato; */
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

}

.index_header_sp3 {
    /* font-family: Lato; */
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #F16D7F;

}

.index_text {
    display: flex;
    min-width: 300;
    justify-content: center;
    align-items: center;
    margin: 70px;
}

.index_text2 {
    width: 402px;
}

.index_rectangle {
    margin-top: 3px;    
    padding-top: 0px;
    width: 12px;
    height: 92px;
    top: 364.9px;
    left: 864px;
    gap: 0px;
    opacity: 0px;
    background: #F16D7F;

}

@media (max-width: 420px) {
.index_header_img-firstman {
    display: none;
}



}