.index_pinkbg {
    position: static;
    width: 100vw;
    height: fit-content;
    /* display: flex; */
    background-color: #F1E4E6;
    /* justify-content: center; */

}

.index_div_header {
    position: relative;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    background-color: #F1E4E6;
    justify-content: center;
}

.index_header_img-firstman {
    position: relative;
    width: 50%;
}

.index_header_sp1 {
    margin: 0;
    margin-left: 1vw;
    margin-bottom: 0;
    /* font-family: Lato; */
    font-size: 4vw;
    font-weight: 900;
    /* line-height: 57.6px; */
    text-align: left;
    padding: 0;

}

.index_header_p__nomargin {
    margin-bottom: 0;
    margin-top: 0px;
}

.index_header_sp2 {
    padding: 0;
    margin-top: 0px;
    margin-left: 1vw;
    /* font-family: Lato; */
    font-size: 3vw;
    font-weight: 700;
    /* line-height: 38.4px; */
    text-align: left;

}

.index_header_sp3 {
    /* font-family: Lato; */
    margin-top: 0;
    font-size: 3vw;
    font-weight: 700;
    /* line-height: 38.4px; */
    text-align: left;
    color: #F16D7F;

}

.index_text {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* margin: 70px; */
}

.index_text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
}

.index_rectangle {
    margin-top: 3px;    
    padding-top: 0px;
    width: 3vw !important;
    max-width: 3%;
    height: 9vw;
    gap: 0px;
    background: #F16D7F;
}

.index_header-mediumtext-holder {
    text-wrap: nowrap;
    margin-top: 0;
    width: fit-content;
}

/* @media (min-width: 769px) { */
    .index_header_sp1 {
        font-size: 5vw;
        display: inline-flex;
        text-wrap: nowrap;
    }
    
    .index_header_sp2 {
        font-size: 3vw;
        display: inline-flex;
        text-wrap: nowrap;
    }
    .index_header_sp3 {
        font-size: 3vw;
        display: inline-flex;
        text-wrap: nowrap;
            /* height: 764px; */
        }
/* } */


@media (max-width: 768px) {
    .index_pinkbg {
        width: 100vw;
    }
    /* .index_header_sp1 {
    font-size: 38px;
    display: inline-flex;
    text-wrap: nowrap; */
}

.index_header_sp2 {
    /* font-size: 20px;
    display: inline-flex;
    text-wrap: nowrap; */
}
.index_header_sp3 {
    /* font-size: 20px;
    display: inline-flex;
    text-wrap: nowrap; */
        /* height: 764px; */
    }
/* } */

@media (max-width: 431px) {
.index_header_img-firstman {
    display: none;
}

.index_pinkbg {
    height: 350px;
    display: flex;
    justify-content: center;
}

.index_header_sp1 {
    font-size: 12vw;
    display: inline-flex;
    text-wrap: nowrap;
}

.index_header_sp2 {
    font-size: 6vw;
    display: inline-flex;
    text-wrap: nowrap;
}
.index_header_sp3 {
    font-size: 6vw;
    display: inline-flex;
    text-wrap: nowrap;
}
.index_text {
    width: fit-content;
    /* height: 363px; */
}
.index_rectangle {
    height: 18vw;
}
}