@font-face {
    font-family: 'Lato-Regular';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
  }
  
  * {
    font-family: 'Lato-Regular';
  }

* {
    margin: 0;
    padding: 0;
    font-family: lato;
}