body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
}

.index_App {
    position: absolute;
    margin: 0 auto;
}

.index_center {
    position: absolute;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1170px) {
    .index_App {
        width: 100%;
    }
}