.product-card {
    display: flex;
    height: 306px;
    width: 652px;
    margin-top: 40px;
    box-shadow: 15px 15px 20px #bbbbbb;
}

.registration_text-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.product-holder {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.card_img-holder-cutter {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 262px;
    overflow: hidden;
}

.card_img {
    height: 100%;
}

.card_info-holder {
    margin-left: 31px;
}

.btn_cart-clear-continue {
    margin-top: 72px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    max-width: 652px;
}


.btn_cart-clear-continue button {
    width: 225px;
    height: 50px;
    background-color: white;
    border: #a4a4a4a4 solid 1px;
}

.cart_form {
    height: 543px;
    margin-top: 50px;
    margin-left: 28px;
    margin-bottom: 50px;
}

.color_text_grey-low {
    color: #B1B1B1;
  }

.cart_shippingadress {
    display: flex;
    flex-direction: column;
}

.cart_shippingadress form{
    display: flex;
    flex-direction: column;
}

.reg_form_text{
    border: solid 1px #A4A4A4;
    margin: 20px 0 0px 0;
    width: 360px;
    padding-left: 17px;
    height: 45px;
}

.cart_shippingadress form button {
    margin: 20px 0 0px 0;
    border: solid 1px #A4A4A4;
    background-color: white;
    width: 102px;
    font-size: 11px;
    height: 35px;
}

.cart_shippingadress {
    width: 360px;
    height: 272px;
    margin-bottom: 120px;
}

.cart_total__holder {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 214px;
    margin-top: 57px;
    margin-bottom: 50px;
    background-color: #F5F3F3;
}

.cart_total__p-holder {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 360px;
    height: 107px;
}

.cart_total__p-holder p {
    margin-right: 34px;
}

.line {
    width: 275px;
    height: 1px;
    background-color: #E2E2E2;
}

.cart_total__btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 107px;
}

.cart_total__btn-holder button{
    width: 273px;
    height: 50px;

    background-color: #F16D7F;
    color: #FFFFFF;
    border: none;
}
/*  */
.registration__btn{
    width: 167px !important;
    height: 50px !important;
    background-color: #F16D7F !important;
    color: #FFFFFF;
    border: none !important;
}

.registration_arrow_btn {
    margin-left: 20px;
}

.quantity-holder {
    display: flex;
    justify-content: center;
}

.plus-minus-holder {
    display: flex;
    margin-left: 5px;
    /* flex-direction: column; */
}

.red {
    color: #F16D7F;
}

.h3-btn-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 337px;
}

.quantity-holder {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart_product-text {
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-cross-remove {
    /* background-color: #F16D7F; */
    color: #575757;
    /* color: white; */
}

.btn-cross-remove:hover {
    /* background-color: #F16D7F; */
    color: #F16D7F;
    /* color: white; */
}

.registration_ul {
    list-style-image: url('./products/img/mark.svg');
}

.registration_ul li {
    margin-top: 16px;
}

.registration_switch-holder {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration_input-p {
    display: flex;
    align-items: end;
    padding-top: 3px;
}

.registration_input-p.second {
    margin-left: 20px;
}

.reg_form_switch {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 20px;
    margin-right: 15px;
}

.registration_form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.registration_text-passchar {
    max-width: 360px;
}

input[type=radio] {

  }
  
.registration_loyalty {
    max-width: 550px;
    font-size: 24px;
    font-weight: 100;
    margin-top: 64px;
    margin-left: 9vw;
    margin-right: 3vw;
}

.registration_catalog_header__holder {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 9vw;
    width: 100%;
}

@media (max-width: 1172px) {
    .registration_loyalty {
        max-width: 400px;
        font-size: 16px;
        font-weight: 100;
        margin-top: 64px;
        margin-left: 1vw;
        margin-right: 2vw;
    }
}

@media (max-width: 768px) {
    .registration_text-holder {
flex-direction: column;
align-items: center;
justify-content: center;
    }
    .registration_catalog_header__holder {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 3vw;
        width: 100%;
    }
    .reg_form_text{
        border: solid 1px #A4A4A4;
        margin: 10px 0 0px 0;
        width: 340px;
        padding-left: 10px;
        height: 45px;
    }
    .cart_form {
        margin: 0 auto;
    }
}

@media (max-width: 431px) {
    .registration_catalog_header__holder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0vw;
        width: 100%;
    }
    .reg_form_text{
        /* border: solid 1px #A4A4A4; */
        margin: 10px;
        width: 93%;
        padding-left: 10px;
        height: 45px;
    }
    .registration_loyalty {
        margin-top: 10px !important;
    }
}