.registration_App {
    position: absolute;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1070px) {
    .registration_App {
        width: 100%;
    }
}